#start{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#tb{
  position:absolute;
  top:40%;
}

legend{
  text-align: center;
  font-size: 1.4em;
}
fieldset{
  background-color: aliceblue;
}
#title{
  border: 1px solid black;
  border-color: black; 
}

.index_b{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .index_b:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .index_b:before,.index_b:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .index_b:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .index_b:hover:before,.index_b:hover:after{
    width:100%;
    transition:800ms ease all;
  }