td {
    border: 1px solid black;
    width: 400px;
    background-color: rgb(214, 214, 214);
    text-align: center;
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
}